/*PARA DEFINIR PALETA DE COLORES*/
:root {
    --blnaco: #ffffff;
    --negro: #212121;
    --azulpastel: #00AAE4;
    --rosa: #F03687;
    --rosafondo: #f3b0b6;
    --verdepastel: #77dd77;
    --amarillopastel: #FFFE71;
    --grisclaro: #9c9c9c;


}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;

  
    /*Interlineado*/

}

h1 {
    font-size: 5rem;
    width: 100%;


}

.titulo-negro {
    color: var(--negro);
}

.pad-top8 {
    padding-top: 8rem;
}

p {
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divfondo{
 
}
 
img {


    width: 100%;
    /*Tamaño de la imagen dle producto*/

}

.contenedor-productos {
    max-width: 100%;
margin-left: 10rem;  
margin-right: 10rem;
    /*centrar*/

}

/*GRID*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*hara que lso elementos se acomoden en 2 columnas*/
    gap: 2rem;
    /*para acomodar el cuadro de color*/
}

@media (min-width: 768px) {
    .grid {

        grid-template-columns: repeat(3, 1fr);


    }


}

@media (max-width: 768px) {

    .margenp {
        margin-top: 0px;
    }

}

.contenedor-FlexP{
    display: flex;
    flex-wrap: wrap;
   
    
}

/*PRODUCTOS*/
.producto {
    background-color: var(--azulpastel);
    padding: 2rem;
    width: 200px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border: var(--blnaco) solid 3px;
    flex: 1;
    transition: 1.2s;
}

/*.producto:hover{
    background-color: #77dd77;
    flex: 5;
    height: 400px;
   
  
}*/

.producto__imagen {
    margin-left: auto;
    margin-right: auto ;
    width: 150px;
    height: 150px;
}
    
.producto__informacion {
    font-size: 10px;
}


.producto__nombre,
.producto__precio {
    font-size: 10px;
}